#div1{
padding-left: 60%;
background-color: orange;
}
#a1{
 font-size: 25px;
}
#a2{
margin-left: 80px;
font-size: 25px;
}
#a3{
margin-left: 80px;
font-size: 25px;
}
#h1{
color: black;
}
#div2{
    font-size: 20px;
    text-align: center;
    background-color: yellow;
    border-top: dashed green thick;
    border-bottom: solid blue thick;
}









